<%= link_to({ controller: 'profiled/my/profiles', action: 'show' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fas fa-book-medical fa-fw"></i>
    <span>档案</span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
<%= link_to({ controller: 'trade/my/orders' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fas fa-store fa-fw"></i>
    <span>订单</span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
<%= link_to({ controller: 'trade/my/cards' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fas fa-credit-card fa-fw"></i>
    <span>会员</span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
<%= link_to({ controller: 'wechat/my/users', action: 'invite_qrcode' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fas fa-qrcode fa-fw"></i>
    <span>我的乘客</span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
<%= link_to({ controller: 'ship/my/lines' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fas fa-paper-plane fa-fw"></i>
    <span><%= t('ship.my.lines.index.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
<%= link_to({ controller: 'ship/my/cars' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fas fa-car fa-fw"></i>
    <span><%= t('ship.my.cars.index.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
<%= link_to({ controller: 'ship/my/drivers', action: 'show' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fas fa-id-card fa-fw"></i>
    <span><%= t('ship.my.drivers.show.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
