<div class="weui-panel is-box is-borderless mt-3">
  <div class="weui-panel__bd">
    <%= render 'profile_item' %>
  </div>
  <div class="weui-panel__ft">
    <%= render 'cart_column' %>
  </div>
</div>


<%= render 'trade_column' %>
<%= render 'com_column' %>

<%= render 'powered_by' %>
