<section class="hero" style="background-image: url(<%= asset_pack_path('media/images/banner.png') %>); background-size: cover; background-repeat: no-repeat">
  <div class="hero-body">
    <div class="container tile is-parent">
      <div class="tile is-8 is-vertical has-text-centered" style="align-items: center">
        <h1 class="title is-spaced has-text-white">Work Design 工作设计</h1>
        <h2 class="subtitle">
          <a href="/why" class="has-text-white">为效率而生的的快速软件开发方案</a>
        </h2>
        <h2 class="subtitle has-text-white">破解数据孤岛难题</h2>
        <a href="/why" class="subtitle">
          <button class="button is-medium is-warning is-light">数字化方案对比</button>
        </a>
      </div>
      <div class="tile is-4"></div>
    </div>
  </div>
</section>
<section class="hero is-medium">
  <div class="hero-body container">
    <h2 class="subtitle has-text-centered has-text-weight-bold">数字化不止于软件开发</h2>
    <div class="content has-text-centered">
      <p>通过数字化实现降低运营成本，增加获客渠道和提升转化率，通过数据指导商业决策等，这一切环环相扣，需要整体精心设计。</p>
      <p>Work Design（工作设计）是前沿的管理学概念，通过对工作内容、工作方法、员工职能、软硬件的分析，进而调整优化，达到最佳协作效率，释放生产力。</p>
      <p>由经济学家、财务专家、人力资源专家、高级软件工程师组成的专家队伍，为你带来量身定制的方案，而软件系统正是这套体系的载体。</p>
      <p><a href="/why">了解更多</a></p>
    </div>
    <div class="level container is-hidden-mobile" style="margin-top: 20px;">
      <div class="level-item has-text-centered">
        <%= image_pack_tag '工作内容.png' %>
      </div>
      <div class="level-item has-text-centered">
        <%= image_pack_tag '方法.png' %>
      </div>
      <div class="level-item has-text-centered">
        <%= image_pack_tag '人员.png' %>
      </div>
      <div class="level-item has-text-centered">
        <%= image_pack_tag '软硬件.png' %>
      </div>
    </div>
  </div>
</section>
<section class="hero is-medium is-light">
  <div class="container tile is-parent">
    <div class="tile is-vertical is-7" style="padding: 3rem;">
      <h2 class="subtitle has-text-weight-bold">大幅降低门槛和成本，实现数字化普惠</h2>
      <div class="content">
        <p>软件能力不应成为奢侈品，来自大公司的软件工程化体系对于小微企业几乎没有实用价值。Work Design 历时数年，针对小微企业的需求，打造了一系列通用业务组件，极大的提升了软件研发效率，降低了研发门槛与成本。</p>
        <p>小微企业面临数字化成本高，效果差的困境，Work Design 正以一种创新的商业模式破解这个难题。</p>
        <p><a href="/mode" target="_blank">了解更多</a></p>
        <p>不仅如此，我们也免费开放了全部源代码，免除你的后顾之忧。</p>
        <p class="buttons">
          <a href="https://github.com/work-design" target="_blank" class="button is-medium is-info">
            <span class="icon"><i class="fab fa-github"></i></span>
            <span>Github</span>
          </a>
          <a href="https://gitee.com/work-design" target="_blank" class="button is-medium is-warning">
            <span class="icon"><i class="fab fa-git-alt"></i></span>
            <span>码云</span>
          </a>
        </p>
      </div>
    </div>
    <div class="tile is-5 is-hidden-mobile">
      <%= image_pack_tag 'digit.png', class: 'image' %>
    </div>
  </div>
</section>
<section class="hero is-medium is-link">
  <div class="container tile is-parent" style="width: 100%;">
    <div class="tile is-6" style="justify-content: flex-end; align-items: center; padding-right: 3rem;">
      <div class="content has-text-centered">
        <a href="https://one.work" target="_blank">
          <button class="button is-large is-warning is-light">One Work</button>
        </a>
      </div>
    </div>
    <div class="tile is-vertical is-6" style="align-items: center;">
      <div class="content">
        <p>我们自身亦是数字化普惠的受益者，基于 Work Design 开发的 One Work 是为小微企业打造的综合服务平台。</p>
        <p>如果您有兴趣关注我们的话，将会发现 One Work 正在以极快的速度进行演进。而One Work 的开发，仅仅是 Work Design 的一名核心开发成员的兼职时间。</p>
      </div>
    </div>
  </div>
</section>
