<section class="hero is-cover" style="background-image: url(<%= image_path('banner.png') %>); height: 398px">
  <div class="hero-body is-middle is-align-items-start" style="padding-left: 30%">
    <h1 class="title has-text-white">Work Design 工作设计</h1>
    <h2 class="title has-text-white">聚焦产业互联网基建</h2>
    <h2 class="title has-text-white">让一部分商家先做大</h2>
  </div>
</section>
<%= render 'step' %>
<%= render 'feature' %>
<%= render 'service' %>
<section class="hero is-medium is-light">
  <div class="container tile is-parent">
    <div class="tile is-vertical is-7" style="padding: 3rem">
      <h2 class="title has-text-weight-bold">Work Design 生态服务</h2>
      <div class="content">
        <p>项目生命周期管理：人员配置，股权激励，财务管理，任务管理</p>
        <p>按需雇佣：灵活雇佣，将低用人成本，提升人力价值</p>
      </div>
    </div>
    <div class="tile is-5 is-hidden-mobile">
      <%= image_tag 'digit.png', class: 'image' %>
    </div>
  </div>
</section>
