<%= link_to({ controller: '/home' }, class: 'weui-tabbar__item') do %>
  <i class="fas fa-home weui-tabbar__icon"></i>
  <div class="weui-tabbar__label"><%= t('home.index.title') %></div>
<% end %>
<%= link_to({ controller: '/bench/facilitates' }, class: 'weui-tabbar__item') do %>
  <i class="fas fa-store-alt weui-tabbar__icon"></i>
  <div class="weui-tabbar__label"><%= t('bench.facilitates.index.title') %></div>
<% end %>
<%= link_to({ controller: '/factory/products' }, class: 'weui-tabbar__item') do %>
  <i class="fas fa-store-alt weui-tabbar__icon"></i>
  <div class="weui-tabbar__label"><%= t('factory.products.index.title') %></div>
<% end %>
<%= link_to({ controller: '/my/home' }, class: 'weui-tabbar__item') do %>
  <i class="fas fa-user-alt weui-tabbar__icon"></i>
  <div class="weui-tabbar__label">个人中心</div>
<% end %>
