<%= link_to({ controller: '/bench/facilitates' }, class: active_helper(controllers: 'bench/facilitates', active: 'is-active')) do %>
  <i class="fa-solid fa-user-ninja size-5"></i>
  <div class="size-7"><%= t('bench.facilitates.index.title') %></div>
<% end %>
<%= link_to({ controller: '/factory/productions' }, class: active_helper(controllers: 'factory/productions', active: 'is-active')) do %>
  <i class="fa-solid fa-store-alt size-5"></i>
  <div class="size-7"><%= t('factory.productions.index.title') %></div>
<% end %>
<%= link_to({ controller: '/my/home' }, class: active_helper(controllers: 'my/home', active: 'is-active')) do %>
  <i class="fa-solid fa-user-alt size-5"></i>
  <div class="size-7">个人中心</div>
<% end %>
